# Created by .ignore support plugin (hsz.mobi)
.gitignore
src/
Would skip repository vendor/doctrine/instantiator
Would skip repository vendor/phpdocumentor/reflection-common
vendor/phpdocumentor/reflection-docblock
vendor/phpdocumentor/type-resolver
Would skip repository vendor/phpspec/prophecy
Would skip repository vendor/phpunit/php-code-coverage
Would skip repository vendor/phpunit/php-file-iterator
Would skip repository vendor/phpunit/php-token-stream
Would skip repository vendor/phpunit/phpunit
vendor/phpunit/php-text-template
vendor/phpunit/php-timer
vendor/phpunit/phpunit-mock-objects
Would skip repository vendor/sebastian/code-unit-reverse-lookup
Would skip repository vendor/sebastian/comparator
Would skip repository vendor/sebastian/diff
Would skip repository vendor/sebastian/environment
Would skip repository vendor/sebastian/exporter
Would skip repository vendor/sebastian/object-enumerator
Would skip repository vendor/sebastian/recursion-context
Would skip repository vendor/sebastian/resource-operations
Would skip repository vendor/sebastian/version
vendor/sebastian/global-state
Would skip repository vendor/symfony/yaml
Would skip repository vendor/webmozart/assert
vendor/autoload.php
vendor/bin
vendor/composer
vendor/myclabs
.idea/webResources.xml
.idea/vcs.xml
.idea/phunc-unittest-generator.iml
.idea/deployment.xml
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
tests/
'.idea' 
Would skip repository vendor/tom-sapletta-com/phunc
